################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/CepelWeb/bin
/CepelWeb/obj/Debug
/Dominio/obj/Debug
/Dominio/bin/Debug
/packages
/Data/bin/Debug
